body, html {
  height: 100%;
  }
  .bg {
  background-image: url("https://1.bp.blogspot.com/-i9XuxoA1EyU/XqRGc6ejKbI/AAAAAAAAAC4/YBpfn5_hZSQ_yUooIDB5PQNQ0Xzrun0hACLcBGAsYHQ/s320");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
    filter: alpha(opacity=70)
   /* background: url(https://image.freepik.com/foto-gratis/fondo-realista-coronavirus_167960-23.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  }
  .bgh{

     background: url(https://1.bp.blogspot.com/-9S718NdO_24/XqRGdMXB_1I/AAAAAAAAAC8/bWZawzvmpuYb070ER52XZKEQNuYdxGJXwCLcBGAsYHQ/s320) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  }